* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #071420;
    font-family: -webkit-body;
}

a:hover {
    text-decoration: none;
}

/* Start News Section */
.newsSection .container {
    margin: 10px auto auto;
    background-color: #546a7b2e;
    padding: 0px;
    border-radius: 8px;
}

.newsSection .container .newsNav {
    background-color: #666a8633;
    border-radius: 9px;
    padding: 5px 2px 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* News - Heading (h5) */
.newsSection .container .newsNav .lastestNews {
    color: #ffffffd9  !important;
    margin-top: 8px;
}

/* Remove the down arrow */
.dropdown-toggle::after {
    content: none;
}

/* News - Dropdown */
.btn-secondary {
    background-color: #666a8600;
    border-color: #666a8600;
    color: #ffffffad;
}

.btn-secondary:hover {
    background-color: #666a8600;
    border-color: #666a8600;
    color: #ffffffad;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #666a8600;
    border-color: #666a8600;
    color: #ffffffad;
}

/* News - Dropdown category menu */
.newsSection .container .newsNav .dropdown .dropdown-menu {
    background-color: #666a864a;
    border-radius: 10px;
    margin-top: -51px;
    margin-left: 65px;
}

.newsSection .container .newsNav .dropdown .dropdown-menu .dropdown-item {
    color: #fff;
    outline: none;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.newsSection .container .newsNav .dropdown .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: #666a8633;
    border-left-color: #fff;
    border-right-color: #fff;
}
/**********************************************************************************************************************/

/* Start News Display */
#newsdisplay {
    display: flex;
    flex-flow: row wrap;
    margin: 5px 2px 5px 5px;
    height: 639px;
    overflow: auto;
    justify-content: center;
}

/* Srcoll in the div newsDisplay */
#newsdisplay::-webkit-scrollbar {
    width: 6px;
}

#newsdisplay::-webkit-scrollbar-track {
    background-color: transparent;
}

#newsdisplay::-webkit-scrollbar-thumb {
    background-color: #ffffff3f;
    border-radius: 100px;
}

/* Start news Cards */
#newsdisplay .newsCards , .newsCard {
    display: flex;
    flex-flow: row wrap; /* inline section */
}

/* The bigger news */
#newsdisplay .newsCard {
    width: 50%;
}

#newsdisplay .newsCard img {
    width: 99%;
    border-radius: 10px;
    box-shadow: 3px 3px 9px #071420;
}

#newsdisplay .newsCard .newsTitle {
    max-width: 540px;
    height: 145px;
    color: #fff;
    margin: -106px -15px -28px 13px;
}

#newsdisplay .newsCard .newsTitle h4{
    font-weight: bold;
}

#newsdisplay .newsCard .newsTitle p{
    max-width: 520px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffffd0;
}

/* The small news */
#newsdisplay .newsCards {
    width: 25%;
}

#newsdisplay .newsCards img {
    width: 98%;
    border-radius: 10px;
}

#newsdisplay .newsCards .newsTitle {
    color: #fff;
    margin: 10px 6px 0 13px;
}

#newsdisplay .newsCards .newsTitle h5{
    font-weight: bold;
    text-align: center;
}

#newsdisplay .newsCards .newsTitle p {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffffa9;
    font-size: 12px;
}
