* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #071420;
    font-family: -webkit-body;
}

/* Start News Section */
.newsSection .container {
    background-color: #666a8633;
    border-radius: 9px;
    margin: auto;
    margin-top: 25px;
}

.newsSection .container .newsNav {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* News - Heading (h5) */
.newsSection .container .newsNav .lastestNews {
    color: #fff;
    margin-top: 8px;
}

/* Remove the down arrow */
.dropdown-toggle::after {
    content: none;
}

/* News - Dropdown */
.btn-secondary {
    background-color: #666a8600;
    border-color: #666a8600;
}

.btn-secondary:hover {
    background-color: #666a8600;
    border-color: #666a8600;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #666a8600;
    border-color: #666a8600;
}

/* News - Dropdown category menu */
.newsSection .container .newsNav .dropdown .dropdown-menu {
    background-color: #666a8633;
    border-radius: 10px;
    margin-top: 11px;
    margin-left: -88px;
}

.newsSection .container .newsNav .dropdown .dropdown-menu .dropdown-item {
    color: #fff;
}

.newsSection .container .newsNav .dropdown .dropdown-menu a:hover {
    color: #fff;
    background-color: #666a8633;
}

